In [5]:
import pandas
import sklearn
from sklearn.model_selection import StratifiedShuffleSplit

In [2]:
data=pandas.read_csv('bizdfsmall.csv')

In [3]:
print(data.shape)
print(data.columns)

(108082, 4)
Index(['business_id', 'name', 'attributes.RestaurantsPriceRange2',
       'review_count'],
      dtype='object')

In [14]:
y=data['attributes.RestaurantsPriceRange2']

In [28]:
splitter_train_rem=StratifiedShuffleSplit(n_splits=1,random_state=42,test_size=0.2)
splitter_val_test=StratifiedShuffleSplit(n_splits=1,random_state=42,test_size=0.5)

In [29]:
split_=splitter_train_rem.split(data,y)
for train,rem in split_:
    train_data=data.iloc[train[:]]
    print(train_data.shape)
    rem_data=data.iloc[rem[:]]
    print(rem_data.shape)

split_=splitter_val_test.split(rem_data,rem_data['attributes.RestaurantsPriceRange2'])
for val,test in split_:
    val_data=rem_data.iloc[val[:]]
    print(val_data.shape)
    test_data=rem_data.iloc[test[:]]
    print(test_data.shape)

(86465, 4)
(21617, 4)
(10808, 4)
(10809, 4)

In [30]:
print(train_data.shape)
print(rem_data.shape)
print(val_data.shape)
print(test_data.shape)

(86465, 4)
(21617, 4)
(10808, 4)
(10809, 4)

In [31]:
train_data.iloc[5]

business_id                          kzuQsq0KPWLeKFtnLXXyHg
name                                                  Tam's
attributes.RestaurantsPriceRange2                         1
review_count                                             57
Name: 76408, dtype: object

In [33]:
print(train_data['review_count'].sum())
print(val_data['review_count'].sum())
print(test_data['review_count'].sum())

4259521
538012
529124

In [35]:
#verifying stratified split
priceranges=data['attributes.RestaurantsPriceRange2'].value_counts(normalize=True)
print(priceranges)
priceranges=train_data['attributes.RestaurantsPriceRange2'].value_counts(normalize=True)
print(priceranges)
priceranges=val_data['attributes.RestaurantsPriceRange2'].value_counts(normalize=True)
print(priceranges)
priceranges=test_data['attributes.RestaurantsPriceRange2'].value_counts(normalize=True)
print(priceranges)

2    0.569068
1    0.313271
3    0.096797
4    0.020864
Name: attributes.RestaurantsPriceRange2, dtype: float64
2    0.569063
1    0.313271
3    0.096802
4    0.020864
Name: attributes.RestaurantsPriceRange2, dtype: float64
2    0.569115
1    0.313286
3    0.096780
4    0.020818
Name: attributes.RestaurantsPriceRange2, dtype: float64
2    0.569063
1    0.313257
3    0.096771
4    0.020909
Name: attributes.RestaurantsPriceRange2, dtype: float64

In [36]:
train_data.to_pickle("data/train_biz_ids.pkl")
val_data.to_pickle("data/val_biz_ids.pkl")
test_data.to_pickle("data/test_biz_ids.pkl")

In [38]:
train_data.to_csv("data/train_biz_ids.csv",index=False)
val_data.to_csv("data/val_biz_ids.csv",index=False)
test_data.to_csv("data/test_biz_ids.csv",index=False)