In [1]:
import os
import pandas
import json

In [3]:
review_data=pandas.read_pickle('data/reviews.pkl')

In [4]:
print(review_data.shape)

(5507717, 12)

In [7]:
print(review_data.columns)
print(review_data.dtypes)

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date', 'name', 'attributes.RestaurantsPriceRange2',
       'review_count'],
      dtype='object')
review_id                             object
user_id                               object
business_id                           object
stars                                float64
useful                                 int64
funny                                  int64
cool                                   int64
text                                  object
date                                  object
name                                  object
attributes.RestaurantsPriceRange2    float64
review_count                         float64
dtype: object

In [8]:
review_data['date2']=pandas.to_datetime(review_data['date'])

In [9]:
print(review_data.dtypes)

review_id                                    object
user_id                                      object
business_id                                  object
stars                                       float64
useful                                        int64
funny                                         int64
cool                                          int64
text                                         object
date                                         object
name                                         object
attributes.RestaurantsPriceRange2           float64
review_count                                float64
date2                                datetime64[ns]
dtype: object

In [10]:
print(review_data.iloc[0]['date2'])

2017-01-14 21:30:33

In [11]:
rev_=review_data.sort_values(by=['useful','date2'],ascending=[False,False])

In [12]:
print(rev_[:3])

                      review_id                 user_id  \
1218724  4ZN5ZWVoGd8er9giAKgV-g  AsUDg2wZZqkgZzl0kuFvIA
1292098  A8mLBytNM2zmjHgSpsuZDA  qiTy11I-yp6foxIghRfGOA
1319233  ZmEtySx0W_RSv07aY9AnzQ  BbSWL3PjQBzY7uDWaqlXqg

                    business_id  stars  useful  funny  cool  \
1218724  DN0b4Un8--Uf6SEWLeh0UA    2.0    1241    277   174
1292098  DN0b4Un8--Uf6SEWLeh0UA    1.0    1122    628   506
1319233  DN0b4Un8--Uf6SEWLeh0UA    1.0     970    332   121

                                                      text  \
1218724  Dinner for 1.\n\n- Preface\nI went to Amy's Ba...
1292098  In retrospect, I should have known better than...
1319233  This restaurant is horrible. \n\nFirst off the...

                        date                  name  \
1218724  2014-04-21 05:03:59  Amy's Baking Company
1292098  2010-08-01 16:04:17  Amy's Baking Company
1319233  2013-08-22 05:02:56  Amy's Baking Company

         attributes.RestaurantsPriceRange2  review_count               date2
1218724                                2.0         546.0 2014-04-21 05:03:59
1292098                                2.0         546.0 2010-08-01 16:04:17
1319233                                2.0         546.0 2013-08-22 05:02:56

In [13]:
rev_sorted=rev_.groupby('business_id').head(100)

In [14]:
print(rev_sorted.shape)

(3257815, 13)

In [15]:
rev_sorted1k=rev_sorted.head(1000)
rev_sorted1k.to_csv('rev_sorted_1000.csv',index=False)

In [16]:
chk=rev_sorted[rev_sorted['business_id']=='mG71gQ5HWl7ut9OCN6NJKA']

In [17]:
print(chk.shape)

(100, 13)

In [18]:
chk=rev_sorted[rev_sorted['business_id']=='HSu5vcs6dkTG6rwYrmHtSg']

In [19]:
print(chk.shape)

(21, 13)

In [ ]:
rev_sorted.to_pickle("data/reviews_selected.pkl")