In [1]:
import pandas

In [3]:
train_data=pandas.read_pickle("data/reviews_train.pkl")
print(train_data.shape)
print(train_data.columns)

(2608302, 13)
Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'date', 'name', 'pricerange', 'review_count', 'date2',
       'text_prep'],
      dtype='object')

In [4]:
train_data['all_reviews']=train_data.groupby(['business_id'])['text_prep'].transform(lambda x: ' '.join(x))

In [5]:
print(train_data.shape)
print(train_data.columns)

(2608302, 14)
Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'date', 'name', 'pricerange', 'review_count', 'date2',
       'text_prep', 'all_reviews'],
      dtype='object')

In [6]:
train_data['stars_sum']=train_data.groupby(['business_id'])['stars'].transform('sum')
train_data['useful_sum']=train_data.groupby(['business_id'])['useful'].transform('sum')
train_data['funny_sum']=train_data.groupby(['business_id'])['funny'].transform('sum')
train_data['cool_sum']=train_data.groupby(['business_id'])['cool'].transform('sum')
train_data=train_data.drop(['stars','useful','funny','cool','date','date2','review_id','user_id','text_prep'],axis=1)
print(train_data.shape)
print(train_data.columns)

(2608302, 9)
Index(['business_id', 'name', 'pricerange', 'review_count', 'all_reviews',
       'stars_sum', 'useful_sum', 'funny_sum', 'cool_sum'],
      dtype='object')

In [7]:
train_data.drop_duplicates(inplace=True)
print(train_data.shape)
print(train_data.columns)

(86462, 9)
Index(['business_id', 'name', 'pricerange', 'review_count', 'all_reviews',
       'stars_sum', 'useful_sum', 'funny_sum', 'cool_sum'],
      dtype='object')

In [9]:
train_data.to_pickle("data/train_data.pkl")

In [8]:
val_data=pandas.read_pickle("data/reviews_val.pkl")
print(val_data.shape)
print(val_data.columns)
val_data['all_reviews']=val_data.groupby(['business_id'])['text_prep'].transform(lambda x: ' '.join(x))
val_data['stars_sum']=val_data.groupby(['business_id'])['stars'].transform('sum')
val_data['useful_sum']=val_data.groupby(['business_id'])['useful'].transform('sum')
val_data['funny_sum']=val_data.groupby(['business_id'])['funny'].transform('sum')
val_data['cool_sum']=val_data.groupby(['business_id'])['cool'].transform('sum')
val_data=val_data.drop(['stars','useful','funny','cool','date','date2','review_id','user_id','text_prep'],axis=1)
val_data.drop_duplicates(inplace=True)
print(val_data.shape)
print(val_data.columns)

(324584, 13)
Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'date', 'name', 'pricerange', 'review_count', 'date2',
       'text_prep'],
      dtype='object')
(10808, 9)
Index(['business_id', 'name', 'pricerange', 'review_count', 'all_reviews',
       'stars_sum', 'useful_sum', 'funny_sum', 'cool_sum'],
      dtype='object')

In [10]:
val_data.to_pickle("data/val_data.pkl")

In [11]:
test_data=pandas.read_pickle("data/reviews_test.pkl")
print(test_data.shape)
print(test_data.columns)
test_data['all_reviews']=test_data.groupby(['business_id'])['text_prep'].transform(lambda x: ' '.join(x))
test_data['stars_sum']=test_data.groupby(['business_id'])['stars'].transform('sum')
test_data['useful_sum']=test_data.groupby(['business_id'])['useful'].transform('sum')
test_data['funny_sum']=test_data.groupby(['business_id'])['funny'].transform('sum')
test_data['cool_sum']=test_data.groupby(['business_id'])['cool'].transform('sum')
test_data=test_data.drop(['stars','useful','funny','cool','date','date2','review_id','user_id','text_prep'],axis=1)
test_data.drop_duplicates(inplace=True)
print(test_data.shape)
print(test_data.columns)
test_data.to_pickle("data/test_data.pkl")

(324929, 13)
Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'date', 'name', 'pricerange', 'review_count', 'date2',
       'text_prep'],
      dtype='object')
(10809, 9)
Index(['business_id', 'name', 'pricerange', 'review_count', 'all_reviews',
       'stars_sum', 'useful_sum', 'funny_sum', 'cool_sum'],
      dtype='object')